<div class="container">
  <h3>会員情報編集</h3>
  <%= form_with model: @customer, url: customers_information_path(@customer.id), method: :patch do |f| %>
    <div class="row">
      <div class="col">
        <label class="customer-label">氏名</label>
        <%= f.text_field :last_name %> <%= f.text_field :first_name %><br>

        <label class="customer-label">フリガナ</label>
        <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %><br>

        <label class="customer-label">郵便番号</label>
        <%= f.text_field :postal_code %><br>

        <label class="customer-label">住所</label>
        <%= f.text_field :address %><br>

        <label class="customer-label">電話番号</label>
        <%= f.text_field :telephone_number %><br>

        <label class="customer-label">メールアドレス</label>
        <%= f.text_field :email %><br>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="submit-button">
          <%= f.submit '編集内容を保存', class: "btn btn-sm btn-success w-50" %>
        </div>
      </div>
      
      <div class="col">
        <div class="withdraw-button">
          <%= link_to '退会する', customers_confirm_path, class: "btn btn-sm btn-danger w-30" %>
        </div>
      </div>  
  <% end %>
</div>