<div class="container">
  <h3>マイページ</h3>
  <div class="row">
    <div class="col-md-10">
      <div class="heading">
        <span class="mypage_heading"><strong>登録情報</strong></span>
        <%= link_to "編集する", customers_information_edit_path(@customer), class: "btn btn-sm btn-success" %>
      </div>

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th class="table-active">氏名</th>
            <td class="maypage-list">
              <%= @customer.last_name %> <%= @customer.first_name %>
            </td>
          </tr>

          <tr>
            <th class="table-active">カナ</th>
            <td class="maypage-list">
              <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
            </td>
          </tr>

          <tr>
            <th class="table-active">郵便番号</th>
            <td class="maypage-list">
              <%= @customer.postal_code %>
            </td>
          </tr>

          <tr>
            <th class="table-active">住所</th>
            <td class="maypage-list">
              <%= @customer.address %>
            </td>
          </tr>

          <tr>
            <th class="table-active">電話番号</th>
            <td class="maypage-list">
              <%= @customer.telephone_number %>
            </td>
          </tr>
          <tr>

            <th class="table-active">メールアドレス</th>
            <td class="maypage-list">
              <%= @customer.email %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="heading">
        <span class="mypage_heading"><strong>配送先</strong></span>
        <%= link_to "一覧を見る", addresses_path, class: "btn btn-sm btn-primary w-60px" %>
      </div>

      <div class="heading mt-3">
        <span class="mypage_heading"><strong>注文履歴</strong></span>
        <%= link_to "一覧を見る", orders_path, class: "btn btn-sm btn-primary w-px" %>
      </div>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>