<div class="container">
  <h3>商品編集</h3>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col mx-auto">

      <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
        <label for="inputImage"><p class="item-label">商品画像</p></label>
        <%= f.file_field :image, accept: "image/*" %><br>

        <label for="inputname"><p class="item-label">商品名</p></label>
        <%= f.text_field :name, autofocus: true, id:"inputname", :size=>"30" %><br>

        <label for="inputintroduction"><p class="item-label">商品説明</p></label>
        <%= f.text_area :introduction, id:"inputintroduction" %><br>

        <label for="genre"><p class="item-label">ジャンル</p></label>
          <%= f.collection_select :genre_id, Genre.all, :id, :name %><br>

        <label for="inputprice"><p class="item-label">税抜価格</p></label>
        <%= f.text_field :price, id:"inputprice", :size=>"30" %><br>

        <label for="is_active"><p class="item-label">販売ステータス</p></label>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, '販売中', value: true %>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, '販売停止中', value: false %><br>

          <div class="submit-button"><%= f.submit '変更を保存', class: "btn btn-lg btn-success" %></div>
      <% end %>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>