<div class="container">
  <h3><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h3>
  <div class="row">


    <div class="col">
            <label class="admin-customershow">会員ID</label>
            <%= @customer.id%><br>

            <label class="admin-customershow">氏名</label>
            <%= @customer.last_name + @customer.first_name %><br>

            <label class="admin-customershow">郵便番号</label>
            <%= @customer.postal_code %><br>

            <label class="admin-customershow">住所</label>
            <%= @customer.address %><br>

            <label class="admin-customershow">電話番号</label>
            <%= @customer.telephone_number %><br>

            <label class="admin-customershow">メールアドレス</label>
            <%= @customer.email %><br>

          <label class="admin-customershow">会員ステータス</label>
          <% if @customer.is_deleted == true %>
            <span class="font-weight-bold text-success">退会</span>
          <% else %>
            <span class="font-weight-bold text-success">有効</span>
          <% end %><br>

      <label class="admin-customershow"></label>
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-sm btn-success" %>
      <%= link_to "注文履歴一覧を見る", admin_order_path(@customer), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>