<div class="container">
  <h3>注文履歴詳細</h3>
  <div class="row">
    <div class="col">
      <label class="admin-ordershow"><strong>購入者</strong></label>
      <%= link_to admin_customer_path(@order) do %>
        <%= @order.name %>
      <% end %><br>

      <label class="admin-ordershow"><strong>注文日</strong></label>
      <%= @order.created_at.strftime('%Y/%m/%d')%><br>

      <label class="admin-ordershow"><strong>配送先</strong></label>
      〒<%= @order.postal_code %><span></span><%= @order.address %><br>
      <label class="admin-ordershow">   </label>
      <%= @order.name %><br>

      <label class="admin-ordershow"><strong>支払方法</strong></label>
      <%= @order.payment_method_i18n %><br>

      <!--<label><strong>注文ステータス</strong></label>-->
        <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
          <%= f.label :order_status, "注文ステータス", class: "form_date_select font-weight-bold" %>
          <%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6 order-status form_date_select" %>
          <%= f.submit "更新", class: 'btn btn-sm btn-success form_date_select' %>
        <% end %>

    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table layout-order-show">
        <thead>
          <tr>
            <th class="font-weight-bold table-active order-item-name">商品名</th>
            <th class="font-weight-bold table-active order-item-price">単価( 税込 )</th>
            <th class="font-weight-bold table-active order-item-amount">数量</th>
            <th class="font-weight-bold table-active order-item-subtotal">小計</th>
            <th class="font-weight-bold table-active making-status-th">製作ステータス</th>
            <th class="table-active button-th" colespan = "1"></th>
          </tr>
        </thead>

        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= (order_detail.item.with_tax_price).to_s(:delimited) %></td>
              <td><%= order_detail.amount %></td>
              <td><%= (order_detail.amount * order_detail.item.with_tax_price).to_s(:delimited) %></td>
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local: true do |f| %>
                <% if Order.order_statuses.key(1) %>
                  <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {prompt: OrderDetail.making_statuses_i18n.key(0)}, class: "form-control form-control-sm col-6 select-form" %></td>
                <% else %>
                  <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {prompt: false}, class: "form-control form-control-sm col-6 select-form" %></td>
                <% end %>
                  <td class="td-button"><%= f.submit "更新", class: "btn btn-sm btn-success" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3 payment-box">
      <div>
        <label class="payment"><strong>商品合計</strong></label>
        <%= (@order.total_payment - @order.shipping_cost).floor.to_s(:delimited) %>円<br>

        <label class="payment"><strong>送料</strong></label>
        <%= @order.shipping_cost %>円<br>

        <label class="payment"><strong>請求金額合計</strong></label>
        <strong><%= @order.total_payment.floor.to_s(:delimited) %>円</strong>
      </div>
    </div>
  </div>
</div>