<div class="container">
  <h3 class="heading">ジャンル一覧・追加</h3>
  <div class="row">
    <div class="col-md-6">

      <div class="feild">
        <%= form_with model: @genre, url: admin_genres_path do |f| %>
          <%= f.label :genre, 'ジャンル名', autofocus: true, autocomplete: 'ジャンル名' %>
          <%= f.text_field :name %>
          <%= f.submit '新規登録', class: 'btn btn-sm btn-success' %>
        <% end %>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th class="font-weight-bold table-active">      ジャンル</th>
            <th class="table-active" colspan="1"></th>
          </tr>
        </thead>

        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>