<div class="container">
    <div class="error-messages">
      <%= render "public/shared/error_messages", resource: resource %>
    </div>
  <h3>新規会員登録</h3>
  <div class="row">
    <div class="col">
      <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>

        <div class="field">
          <%= f.label '名前', class: "name-label" %>
          <span class="name-kanji-label">(姓)  </span><%= f.text_field :last_name, autofocus: true, autocomplete: "令和" %>
          <span class="name-kanji-label-mei">(名)  </span><%= f.text_field :first_name, autocomplete: "道子" %>
        </div>

        <div class="field">
          <%= f.label 'フリガナ', class: "kana-name-label" %>
          <span class="name-kana-label">(セイ)</span><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "レイワ" %>
          <span class="name-kana-label">(メイ)</span><%= f.text_field :first_name_kana, autocomplete: "ミチコ" %>
        </div>

        <div class="field">
          <%= f.label 'メールアドレス' %>
          <span class="email-field"><%= f.email_field :email, autocomplete: "sample@example.com" %></span>
        </div>

        <div class="field">
          <%= f.label '郵便番号(ハイフンなし)' %>
          <span class="postal-code"><%= f.text_field :postal_code, autocomplete: "0000000" %></span>
        </div>

        <div class="field">
          <%= f.label '住所' %>
          <span class="address"><%= f.text_field :address, autocomplete: "東京都渋谷区代々木神園町0-0" %></span>
        </div>

        <div class="field">
          <%= f.label '電話番号(ハイフンなし)' %>
          <span class="telephone-number"><%= f.text_field :telephone_number, autocomplete: "00000000000" %></span>
        </div>

        <div class="field">
          <%= f.label 'パスワード(6文字以上)' %>
          <span class="password"><%= f.password_field :password %></span>
        </div>

        <div class="field">
          <%= f.label 'パスワード(確認用)' %>
          <span class="confirm-password"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></span>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
          <%= f.submit "新規登録", class: "btn btn-sm btn-success w-50" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>既に登録済みの方</h3>
      <div class="customer-login">
        <%= link_to 'こちら', new_customer_session_path %>
        <span class="ml-3">からログインをしてください。</span>
      </div>
    </div>
  </div>
</div>
