<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文情報入力</h3>
      <%= form_with model: @order, url: orders_check_path, method: :post do |f| %>
        <div class="payment-method">
          <p class="font-weight-bold order-info">支払方法</p>
          <span class="ml-6">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: "checked" %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          </span><br>

          <span class="ml-6">
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
          </span><br>
        </div>

        <div class="delivery-address">
          <p class="font-weight-bold">お届け先</p>
          <span class="ml-6">
            <%= f.radio_button :select_address, 0, checked: "checked" %>
            <%= f.label :address, "ご自身の住所" %>
          </span><br>
          <span class="ml-6"></span><span class="ml-3"></span>〒<%= @customer.postal_code %> <%= @customer.address %><br>
          <span class="ml-6"></span><span class="ml-3"></span><%= @customer.last_name + @customer.first_name %>
        </div>

        <div class="registered-address">
          <span class="ml-6">
            <%= f.radio_button :select_address, 1 %>
            <%= f.label :address, "登録済住所から選択" %>
          </span><br>
          <span class="ml-6"></span>
          <span class="ml-3"></span>
          <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address_display), :size=>"60" %>
        </div>

        <div class="new-delivery-address">
          <span class="ml-6">
            <%= f.radio_button :select_address, 2 %>
            <%= f.label :address, "新しいお届け先" %>
          </span><br>
          <span class="ml-6"></span>
          <span class="ml-3"><%= f.label :address, "郵便番号(ハイフンなし)" %></span>
            <%= f.text_field :postal_code, :placeholder => "0000000" %><br>

          <span class="ml-6"></span>
          <span class="ml-3"><%= f.label :address, "住所" %></span>
          <span class="address-text-field"><%= f.text_field :address, :placeholder => "東京都渋谷区代々木神園町0-0", :size=>"50" %></span><br>

           <span class="ml-6"></span>
          <span class="ml-3"><%= f.label :address, "宛名" %></span>
          <span class="name-text-field"><%= f.text_field :name, :placeholder => "令和道子" %></span><br>
        </div>

        <div class="button">
          <%= f.submit "確認画面へ進む", class: "btn btn-sm btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>