<div class="container">
  <h3>ログイン</h3>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col">
      <div class="rogin-heading pb-3">
        <h5>会員の方はこちらからログイン</h5>
      </div>
       <!--d-flex justify-content-center 中央寄せ -->
      <div class="rogin-filed d-flex justify-content-center mb-5">
        <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
          <div class="field mb-3">
            <%= f.label 'メールアドレス', class: "customer-login" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "sample@example.com", :size=>"40" %>
          </div>

          <div class="field mb-4">
            <%= f.label 'パスワード', class: "customer-login" %>
            <%= f.password_field :password, :size=>"40" %>
          </div>

          <div class="actions-login">
            <%= f.submit "ログイン", class: "btn btn-sm btn-primary w-25" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col">
      <h5>会員登録がお済でない方</h5>
      <div class="sign_up d-flex justify-content-center">
        <%= link_to 'こちら', new_customer_registration_path %><span class="ml-3">から新規登録を行ってください。</span>
      </div>  
    </div>

  </div>
</div>
