<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- ジャンル検索機能 -->
    </div>
    <div class="col-md-3">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>

    <div class="col-md-6">
      <strong><%= @item.name %></strong><br>

      <div class="introduction">
        <%= @item.introduction %>
      </div>

      <div class="item-price">
        ￥<%= (@item.price * 1.10).floor.to_s(:delimeted) %><p class="tax">(税込)</p>
      </div>

      <div class="amount">
        <%= form_with model: @item, url: cart_items_path do |f| %>
          <%= f.select :amount, *[1..30], placeholder "選択してください" %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.submit 'カートに入れる', class: "btn btn-sm btn-succcess" %>
        <% end %>
      </div>
    </div>
  </div>
</div>