<header>
  <!--<div class="container">
    <div class="row">
      <div class="col-md-2">
        <h3>
          LOGO
        </h3>
      </div>-->

      <!--<div class="col-md-10">-->
      <nav class="navbar">
        <div class="container">
          <%= link_to '🎂nagano_cake', root_path %>
          <% if customer_signed_in? %>
            ようこそ、<%= current_customer.last_name %>さん！
          <% end %>

          <div class="nav">
            <ul class="nav navbar-nav me-auto">
              <div class="btn-group float-end">
                <% if admin_signed_in? %>

                  <li class="nav-item">
                    <%= link_to '商品一覧', admin_items_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to '会員一覧', admin_customers_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to '注文履歴一覧', admin_root_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-light" %>
                  </li>

                <% elsif customer_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'マイページ', customers_my_page_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to '商品一覧', items_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'カート', cart_items_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-light" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to 'About', about_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to '商品一覧', items_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-sm btn-light" %>
                  </li>

                  <li class="nav-item">
                    <%= link_to 'ログイン', new_customer_session_path, class: "btn btn-sm btn-light" %>
                  </li>

                <% end %>
              </div>
            </ul>
          </div>
        </div>
      </nav>
      <!--</div>
    </div>
  </div>-->
</header>